<% provide(:title, 'Home') %>
<div>
  <header id="encabezado2">
    <h1><%= t('.welcome') %></h1>
  </header>
  
  <div id="blocks">
    <section id="specials" class="box">
      <header><h1 class="script"><%= t('.block1_header') %></h1></header>
      <p class="scriptDet"><%= t('.block1_det1') %></p>
      <p class="scriptDet"><%= t('.block1_det2') %></p>
    </section>
    
    <section id="news" class="box">
      <header><h1 class="script"><%= t('.block2_header') %></h1></header>
      <article class="news-item">
	<header><h1><a href="#"><%= t('.block2_det1_header') %></a></h1></header>	
	<p><%= t('.block2_det1_det') %></p>
      </article>
      <article class="news-item">
	<header><h1><a href="#"><%= t('.block2_det2_header') %></a></h1></header>	
	<p><%= t('.block2_det2_det') %></p>
      </article>
      <article class="news-item">
	<header><h1><a href="#"><%= t('.block2_det3_header') %></a></h1></header>	
	<p><%= t('.block2_det3_det') %></p>
      </article>
      <article class="news-item">
	<header><h1><a href="#"><%= t('.block2_det4_header') %></a></h1></header>	
	<p><%= t('.block2_det4_det') %></p>
      </article>		
      <article class="news-item">
	<header><h1><a href="#"><%= t('.block2_det5_header') %></a></h1></header>	
	<p><%= t('.block2_det5_det') %></p>
      </article>		
    </section>
    
    <section id="newsletter" class="box box-right">
      <header><h1 class="script"><%= t('.block3_header') %></h1></header>
      <form id="sign-up"> 
	<fieldset>
          <label for="news-name"><%= t('.block3_det1') %></label>
          <input type="text" id="news-name" required placeholder=<%= t('.block3_det_ext') %>/> 
	</fieldset>
	<fieldset> 
          <label for="news-email"><%= t('.block3_det2') %></label> 
          <input type="email" id="news-email" required placeholder=<%= t('.block3_det_ext') %>/>
	</fieldset>
	<fieldset> 
          <input type="submit" value=<%= t('.block3_det3') %> />
	</fieldset> 
      </form>
    </section>

  </div>
  
  
 
  <% if !user_signed_in? %>
    <div><p><%= link_to t('signup_now'), new_user_registration_path, class: "boton" %></p>
    </br><p>
      <%= link_to t('login'), new_user_session_path, class: "boton" %>  
      <%= link_to image_tag('twitter32.png') , user_omniauth_authorize_path(:twitter), class: "boton"  %> 
      <%= link_to image_tag('linkedin32.png') , user_omniauth_authorize_path(:linkedin), class: "boton"  %> 
      <%= link_to image_tag('github32.png') , user_omniauth_authorize_path(:github), class: "boton"  %>  
    </p>
  <% else %>
    <p>
      <%= link_to t('tasks'), tasks_path, class: "boton" %>
    </p>
  <% end %>

</div>
