<% provide(:title, 'Home') %>
<div>
  <h1>Basic app | <%= yield(:title) %></h1>
  <h1>Welcome</h1>
  <h2>
    This is a basic Ruby on Rails app, that can be used as a basis for building Web applications.
  </h2>
  <h3>
    Its main features are:
  </h2>
  <h3>
    - Managing static pages:
  </h3>
  <li>Home</li>
  <li>Help</li>
  <li>Contact</li>
  <li>About us</li>
  <h3>
    - User registration (Devise)
  </h3>
  <h3>
    - User registration through third: Twitter and Facebook
  </h3>
  <h3>
    - Sending email (mail)
  </h3>
  <h3>
    - Multi-languages
  </h3>
  <% if !user_signed_in? %>
    <p class= "center"><%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %></p>
    <p class= "center">
      <%= link_to "Login", new_user_session_path, class: "btn btn-large btn-primary" %> * 
      <%= link_to "Login with Twitter", user_omniauth_authorize_path(:twitter), class: "btn btn-large btn-primary"  %> *
      <%= link_to "Login with LinkedIn", user_omniauth_authorize_path(:linkedin), class: "btn btn-large btn-primary"  %> *
      <%= link_to "Login with GitHub", user_omniauth_authorize_path(:github), class: "btn btn-large btn-primary"  %>  
    </p>
  <% else %>
    <p class= "center">
      <%= link_to "Task List", tasks_path, class: "btn btn-large btn-primary" %>  
    </p>
  <% end %>

</div>
