<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %><%= t('projects.message')%></h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><%= f.label :code %><%= f.text_field :code %></p><br/>
  <p><%= f.label :title %><%= f.text_field :title %></p><br/>
  <p><%= f.label :sequence %><%= f.number_field :sequence %></p><br/>
  <p><%= f.label :rroute %><%= f.text_field :rroute %></p><br/>
  <p><%= f.label :description %><%= f.text_field :description %></p><br/>
  <p><%= f.label :general %><%= f.check_box :general %></p><br/>
  <p><%= f.label :active %><%= f.check_box :active %></p><br/>
  <p><%= f.submit t('tasks.update') %></p>

<% end %>
