<% provide(:title, 'Tasks') %>

  <div class="normal">
    <table class="tabla">
      <tr>
        <th><%= t('.title')%></th>
        <th><%= t('.description')%></th>
        <th><%= t('.go')%></th>
        <% if user_signed_in? && current_user.username == "administrator"%>
            <th><%= t('.code')%></th>
            <th><%= t('.sequence')%></th>
            <th><%= t('.rroute')%></th>
            <th><%= t('.general')%></th>
            <th><%= t('.active')%></th>
            <th><%= t('.s')%></th>
            <th><%= t('.e')%></th>
            <th><%= t('.d')%></th>
        <% end %>
      </tr>
    
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= link_to image_tag("go.gif", alt: "execute"), task_execute_path(task) %></td>
        <% if user_signed_in? && current_user.username == "administrator"%>
          <td><%= task.code %></td>
          <td><%= task.sequence %></td>
          <td><%= task.rroute %></td>
          <td><%= task.general %></td>
          <td><%= task.active %></td>
          <td><%= link_to image_tag("show.gif", alt: "show"), task %></td>
          <td><%= link_to image_tag("edit.gif", alt: "edit"), edit_task_path(task) %></td>
          <td><%= link_to image_tag("delete.gif", alt: "delete"), task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
    </table>
    <%= will_paginate @tasks %>
  </div>

  <div class="normal">
    <% if user_signed_in? && current_user.username == "administrator"%>
      <%= link_to t('.new_task'), new_task_path %>
    <% end %>
    </br>
  </div>
