<% provide(:title, 'Tasks details') %>
  <header id="encabezado">
    <h1>Basic app | <%= yield(:title) %></h1>
  </header>


  <div class="normal">
    <div>
     <p class="show_label">Code:</p>
     <p class="show_data"><%= @task.code %></p>
     <p class="show_label"><b>Title:</b></p>
     <p class="show_data"><%= @task.title %></p>
     <p class="show_label">Sequence:</p>
     <p class="show_data"><%= @task.sequence %></p>
     <p class="show_label">Rroute:</p>
     <p class="show_data"><%= @task.rroute %></p>
     <p class="show_label">Description:</p>
     <p class="show_data"><%= @task.description %></p>
     <p class="show_label">General:</p>
     <p class="show_data"><%= @task.general %></p>
     <p class="show_label">Active:</p>
     <p class="show_data"><%= @task.active %></p>
    
    </div>
  </div>
  <div class="normal">
    <p class="center">
      <%= link_to 'Edit', edit_task_path(@task) %> |
      <%= link_to 'Back', tasks_path %>
    </p>
  </div>
