<% provide(:title, 'Tasks details') %>
<h1>Basic app | <%= yield(:title) %></h1>

<div class="row  hero-unit">
  <div class="span6 offset3">
   <p><b>Code:        </b><%= @task.code %></p>
   <p><b>Title:       </b><%= @task.title %></p>
   <p><b>Sequence:    </b><%= @task.sequence %></p>
   <p><b>Rroute:      </b><%= @task.rroute %></p>
   <p><b>Description: </b><%= @task.description %></p>
   <p><b>General:     </b><%= @task.general %></p>
   <p><b>Active:      </b><%= @task.active %></p>
  
  </div>
</div>
<div class="row">
  <p class="center">
    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Back', tasks_path %>
  </p>
</div>
