<% provide(:title, 'Projects') %>

  <div class="normal">
    <table class="tabla">
      <tr>
        <th><%= t('.name')%></th>
        <th><%= t('.type')%></th>
        <th><%= t('.start')%></th>
        <th><%= t('.end')%></th>
        <th><%= t('.description')%></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.project_type %></td>
        <td><%= project.start %></td>
        <td><%= project.end %></td>
        <td><%= project.description %></td>
        <td><%= link_to t('projects.show_link'), project %></td>
        <td><%= link_to t('projects.edit_link'), edit_project_path(project) %></td>
        <td><%= link_to t('projects.delete'), project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>
    <br />  
  </div>
  
  <div class="normal">
    <%= link_to t('.new_project'), new_project_path %>
  </div>