<% provide(:title, 'Show project') %>
   
  <div class="normal">
    <p id="notice"><%= notice %></p>
    <p class="show_label"><%= t('.name')%></p>
    <p class="show_data"><%= @project.name %></p>
    
    <p class="show_label"><%= t('.type')%></p>
    <p><%= @project.project_type %></p>
    
    <p class="show_label"><%= t('.start')%></p>
    <p class="show_data"><%= @project.start %></p>
    
    <p class="show_label"><%= t('.end')%></p>
    <p class="show_data"><%= @project.end %></p>
    
    <p class="show_label"><%= t('.description')%></p>
    <p class="show_data"><%= @project.description %></p>
  </div>

  <div class="normal">
    <%= link_to t('projects.edit'), edit_project_path(@project) %> |
    <%= link_to t('projects.back'), projects_path %>
  </div>
