<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t('.welcome')%></h1>
    <h2><%= t('.signedup')%></h2>
    <p><%= t('.username')%><%= @user.username %><br/></p>
    <p><%= t('.email')%><%= @user.email %><br/></p>
    <h2><%= t('.thanks')%></h2>
  </body>
</html>