<% provide(:title, 'Sign in') %>
<div>

  <div class="normal">
    <div class="formulario">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <div><%= f.label :email %>
        <%= f.email_field :email %></div><br />

        <div><%= f.label :password %>
        <%= f.password_field :password %></div><br />
    
        <% if devise_mapping.rememberable? -%>
          <div><%= f.label :remember_me %> <%= f.check_box :remember_me %> </div><br />
        <% end -%>

        <div><%= f.submit t('.signin'), class: "btn btn-large btn-primary"  %></div>
      <% end %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="normal">
    <%= render "devise/shared/links" %>
  </div>
</div>
