<footer id="primary-foot">
  <section id="history">
    <header><h1><%= t('footer_header') %></h1></header>
    <p><%= t('footer_detail') %><br />
    <a href="#"><%= t('read_more') %></a></p>
  </section>

  <section id="info">
    <nav id="footer-nav">
      <ul>
        <li><%= link_to t('about'),   aboutUs_path %></li>
        <li><%= link_to t('contact'), contact_path %></li>
        <li><a href="http://www.pabilos.com/"><%= t('news') %></a></li>
      </ul>
    </nav>
  </section>

  <p class="copyright" id="info">
    &copy; 2013 pabilos</br>
    <a href="http://www.pabilos.com/">www.pabilos.com</a>
  </p>

</footer>