<header id="main">
  <h1>
    <%= link_to image_tag("logo.png", alt: "pabilos"), 'http://www.pabilos.com', id: "logo" %>
  </h1>
  <p id="user_login">
    <% if user_signed_in? %>
      <%= t('loggedin') %><b><%= current_user.email %></b>
    <% end %>
  </p>
  <div class="clear"></div>
  <p id="languages">
    <%= t('languages') %>
    <a><%= link_to  t('english'), locale: 'en' %> </a>
    <a><%= link_to  t('spanish'), locale: 'es' %> </a>
  </p>
  <div class="clear"></div>
  
</header>
<nav id="primary"> 
  <ul>
    <li><%= link_to t('home'),    root_path %></li>
    <li><%= link_to t('help'),    help_path %></li>
    <% if user_signed_in? %>
      <li><%= link_to t('edit_profile'), edit_user_registration_path %> </li>
      <li><%= link_to t('logout'), destroy_user_session_path, method: :delete %> </li>
      <li><%= link_to t('tasks_link'), tasks_path %> </li>
    <% else %>
      <li><%= link_to t('signup'), new_user_registration_path %> </li>
    <% end %>
  </ul>
</nav>

 
